<div class="main">
  <div class="container">
    <%=image_tag @profile.profile_picture.representation(resize_to_limit: [250, 250]),class: "post_img"%>
    <h1><%=@profile.user_name%></h1>
        <%=link_to "Home Page", root_path, class: "btn btn-primary" ,id:"homePage"%>

        <div id="info">
          <%=link_to "Followers: #{@followers}",new_post_path,data:{turbo_frame: "modal"},class:"btn btn primary"%>
          <%=link_to "Following: #{@following}",new_post_path,data:{turbo_frame: "modal"},class:"btn btn primary"%>
          <%=link_to "Posts: #{@post_count}",new_post_path,data:{turbo_frame: "modal"},class:"btn btn primary"%>
        </div>

        <div id="posts">
            <%@posts.each do |x|%>
            <div>
              <%=x.caption%>
              <%=x.location%>
              <%if x.image.representable?%>
                <%=image_tag x.image.representation(resize_to_limit: [100, 100]), class:"img"%>
              <%end%>
              <%=link_to "Likes: #{x.likes_count}",post_likes_path(x),data:{turbo_frame: "likes"},class:"btn btn primary"%>
              <%=link_to "Comments: #{x.comment_count}",post_comments_path(x),data:{turbo_frame: "postComments"},class:"btn btn primary"%>
              <br>

            </div>
          <%end%>
        </div>
  </div>
</div>
<style>
  .post_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: right;
    top:20px;
  }
  .main{
    margin-top: 40px;
  }
  #homePage{
    float: right;
    margin-right: 20px;
  }
  #info
  {
    margin-left: -15px;
    margin-bottom: 50px;
  }
</style>
