<div class="main">
  <div class="container">
   <%=image_tag @profile.profile_picture.representation(resize_to_limit: [250, 250]),class: "post_img"%>
    <h1><%=@profile.user_name%></h1>
        <div id="info">
          <%=link_to "Followers: #{@followers}",new_post_path,data:{turbo_frame: "modal"},class:"btn btn primary"%>
          <%=link_to "Following: #{@following}",new_post_path,data:{turbo_frame: "modal"},class:"btn btn primary"%>
          <%=link_to "Posts: #{@post_count}",new_post_path,data:{turbo_frame: "modal"},class:"btn btn primary"%>
          <%if @has_followed==1%>
            <%=link_to "Unfollow",friendships_unfollow_profile_path(@profile.id),class:"btn btn-primary"%>
          <% else %>
            <%=link_to "Follow",friendships_follow_profile_path(@profile.id),class:"btn btn-primary"%>
          <% end %>
        </div>
        <% if @profile.status=="public_profile" %>
            <div class="posts">
                <%@posts.each do |x|%>
                <div>
                  <%=x.caption%>
                  <%=x.location%>
                  <%if x.image.representable?%>
                    <%=image_tag x.image.representation(resize_to_limit: [100, 100]), class:"img"%>
                  <%end%>
                  <%=link_to "Likes: #{x.likes_count}",post_likes_path(x),data:{turbo_frame: "likes"},class:"btn btn primary"%>
                  <%=link_to "Comments: #{x.comment_count}",post_comments_path(x),data:{turbo_frame: "postComments"},class:"btn btn primary"%>
                   <%= render partial: "likes/likes",locals:{post:x}%>
                  <%=link_to "Comment",new_post_comment_path(x),data:{turbo_frame: "comment"},id:"commentBtn" ,class:"btn btn-primary"%>
                </div>
              <%end%>
            </div>
          <%elsif @profile.status=="private_profile" && @has_followed==1%>
              <div class="posts">
                <%@posts.each do |x|%>
                <div>
                  <%=x.caption%>
                  <%=x.location%>
                  <%if x.image.representable?%>
                    <%=image_tag x.image.representation(resize_to_limit: [100, 100]), class:"img"%>
                  <%end%>
                  <%=link_to "Likes: #{x.likes_count}",post_likes_path(x),data:{turbo_frame: "likes"},class:"btn btn primary"%>
                  <%=link_to "Comments: #{x.comment_count}",post_comments_path(x),data:{turbo_frame: "postComments"},class:"btn btn primary"%>
                  <%= render partial: "likes/likes",locals:{post:x}%>
                  <%=link_to "Comment",new_post_comment_path(x),data:{turbo_frame: "comment"},id:"commentBtn" ,class:"btn btn-primary"%>
                </div>
              <%end%>
            </div>
          <%else%>
          <div id="message">
              <h1><%=@message%></h1>
          </div>
        <% end %>
  </div>
</div>
<style>
  .post_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: right;
    top:20px;
  }
  .main{
    margin-top: 40px;
  }
  #info
  {
    margin-left: -15px;
    margin-bottom: 50px;
  }
  #message
  {
    text-align: center;
  }
  .posts
  {
    padding: 20px;
  }
</style>
