<div class="main">
  <div class="container">
        <%unless @following.empty?%>
          <%if @post!=nil%>
              <%@post.each do |x|%>
              <div id="eachPost">
                <%=image_tag @profile.profile_picture.representation(resize_to_limit: [250, 250]),class: "post_img"%>
                <%=link_to "#{@user_name}",profile_path(@profile.id),class:"btn btn primary"%>
                <%if x.image.representable?%>
                  <%=image_tag x.image.representation(resize_to_limit: [100, 100])%>
                <%end%>
                <%=x.caption%>
                <%=x.location%>
                <%= render partial: "likes/likes",locals:{post:x}%>
                <%=link_to "Comment",new_post_comment_path(x),data:{turbo_frame: "comment"},id:"commentBtn" ,class:"btn btn-primary"%>
                </div>
              <%end%>
            <%end%>
        <% else %>
          <%=@message%>
          <%if @post!=nil%>
              <%@post.each do |x|%>
              <div id="eachPost">
                <%=image_tag @profile.profile_picture.representation(resize_to_limit: [250, 250]),class: "post_img"%>
                <%=link_to "#{@user_name}",profile_path(@profile.id),class:"btn btn primary"%>
                <%if x.image.representable?%>
                  <%=image_tag x.image.representation(resize_to_limit: [100, 100])%>
                <%end%>
                <%=x.caption%>
                <%=x.location%>
                <%= render partial: "likes/likes",locals:{post:x.id}%>
                <%=link_to "Comment",new_post_comment_path(x),data:{turbo_frame: "comment"},id:"commentBtn" ,class:"btn btn-primary"%>
                </div>
              <%end%>
            <%end%>
        <% end %>
  </div>
</div>
<style>

  .main{
    margin-top: 40px;
  }
  .post_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    top:20px;
  }
  #eachPost
  {
    margin-bottom: 30px;
  }
</style>
