<div class="main">
  <div class="container">
        <%if !@following.empty?%>
          <%if @post!=nil%>
              <div class="feed">
                <%@profile.each do |profile|%>
                  <%@post.each do |post|%>
                      <%if profile.posts.count>0 && post.profile_id==profile.id%>
                          <div class="row">
                            <div id="eachPost">
                            <div class="col lg-2">
                              <%=image_tag profile.profile_picture.representation(resize_to_limit: [250, 250]),class: "post_img"%>
                            <%=link_to "#{profile.user_name}",profile_path(profile.id),class:"btn btn primary"%>
                              <p class="location"><%=post.location%></p>
                             <div class="eachImage">
                               <%if post.image.attached?%>
                                  <%if  post.image.content_type.include?("image")%>
                                  <%=image_tag post.image.representation(resize_to_limit: [600, 600]), class:"img", id:"oneImg" ,:"data-postId"=>post.id%>
                                  <% else %>
                                    <%=video_tag url_for(post.image),controls: true,width: "600",height: "auto"%>
                                  <% end %>
                                <%end%>
                             </div>
                             <div>
                              <p>"<%=post.caption%>"</p>
                             </div>
                              <%if !(post.likes.find_by(email:current_account.email))%>
                                <%= render partial: "likes/likes",locals:{post:post}%>
                              <%else%>
                                <%= render partial: "likes/unlike",locals:{post:post}%>
                              <%end%>
                              <%=link_to "Comment",new_post_comment_path(post),data:{turbo_frame: "comment"},id:"commentBtn" ,class:"btn btn-primary"%>
                            </div>
                          </div>
                          </div>
                        <% end %>
                  <%end%>
                <%end%>
              </div>
          <%end%>
        <%else%>
          <%=@message%>
          <%if @post!=nil%>
             <div class="feed" >
                <%@profile.each do |profile|%>
                  <%@post.each do |post|%>
                      <%if profile.posts.count>0 && post.profile_id==profile.id%>
                          <div class="row">
                            <div id="eachPost">
                            <div class="col lg-4">
                              <%=image_tag profile.profile_picture.representation(resize_to_limit: [250, 250]),class: "post_img"%>
                            <%=link_to "#{profile.user_name}",profile_path(profile.id),class:"btn btn primary"%>
                              <p class="location"><%=post.location%></p>
                             <div class="eachImage">
                              <%if post.image.attached?%>
                                <%if  post.image.content_type.include?("image")%>
                                <%=image_tag post.image.representation(resize_to_limit: [600, 600]), class:"img", id:"oneImg" ,:"data-postId"=>post.id%>
                                <% else %>
                                  <%=video_tag url_for(post.image),controls: true,width: "600",height: "auto"%>
                                <% end %>
                              <%end%>
                             </div>
                             <div>
                             <p>"<%=post.caption%>"</p>
                             </div>
                              <%if !(post.likes.find_by(email:current_account.email))%>
                                <%= render partial: "likes/likes",locals:{post:post}%>
                              <%else%>
                                <%= render partial: "likes/unlike",locals:{post:post}%>
                              <%end%>
                              <%=link_to "Comment",new_post_comment_path(post),data:{turbo_frame: "comment"},id:"commentBtn" ,class:"btn btn-primary"%>
                            </div>
                          </div>
                          </div>
                        <% end %>
                  <%end%>
                <%end%>
              </div>
        <% end %>
        <%end%>
  </div>
</div>
<style>

  .main{
    margin-top: 40px;
  }
  .eachImage{
    margin-top: 8px;
  }
  .post_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    top:20px;
  }
  #eachPost
  {
    margin-bottom: 30px;
  }
  .feed
  {
    width: 500px;
    transform: translate(+70%);
  }
</style>
