<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%=turbo_frame_tag "modal"%>
    <%=turbo_frame_tag "PostModal"%>
    <%=turbo_frame_tag "comment"%>
    <%=turbo_frame_tag "likes"%>
    <%=turbo_frame_tag "postComments"%>

    <%= yield %>
  </body>
</html>
