<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/bdddbb1ad0.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="main">
      <div class="container">
        <nav class="navbar navbar-light bg-white">
          <a class="navbar-brand navbar-link" href="/">
            <img src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-instagram-new-logo-vector-download-13.png" width="30" height="30" class="d-inline-block align-top" alt="">
              INSTAGRAM
          </a>
           <div class="d-flex justify-content-center" id="searchBar">
              <form action="/profiles/search" method="post" id="searchForm">
                <input type="text" name="searchQuery" id="searchQuery" class="form-control" placeholder="Search Here">
              </form>
          </div>
            <%= link_to "Sign Out",destroy_account_session_path(),data:{turbo_method: :delete},class:"btn btn-danger",id:"signOut"%>
           <a class="navbar-brand navbar-link" href="/profiles">
            <%if @current_profile_picture%>
              <%=image_tag @current_profile_picture.profile_picture.representation(resize_to_limit: [250, 250]),class: "d-inline-block align-top navImage"%>
            <%end%>
          </a>
        </nav>
      </div>
    </div>
    <%=turbo_frame_tag "modal"%>
    <%=turbo_frame_tag "comment"%>
    <%=turbo_frame_tag "likes"%>
    <%=turbo_frame_tag "postComments"%>
    <%=turbo_frame_tag "editModal"%>
    <%= yield %>
  </body>
</html>
<script>
  $('#searchForm').keydown(function(event) {
  if (event.keyCode == 13) {
    event.preventDefault();
    $('#searchForm').submit();
  }
});
</script>
